.day{
  border: white 1px solid;
  height: 100px;
}

.notCurr{
  font-size: 17px;
  color:darkred
}
.numberBtn{
  color: blueviolet;
  font-size: 20px;
}
.numberBtnDiv{
  text-align: center;
}

button{
  color: white;
  border: transparent;
  background-color: transparent;
}

button:hover{
  cursor: pointer;
}
.buttonContainer button {
  display: block;
} 
.currentDay{
  width: 40px;
    /* Breite des Buttons */
    height: 40px;
    /* Höhe des Buttons */
    border-radius: 50%;
    /* Erstellt einen Kreis, indem die Hälfte der Breite/Höhe als Radius verwendet wird */
    border: 5px solid blue;

}